venv/
__pycache__/
*.pyc
*.db
.env
static/uploads/
static/docs/
static/avatars/
static/defects/
static/packages/
static/plans/
static/journal/
static/smeta/*
!static/smeta/.gitkeep
backups/
*.egg-info/
dist/
build/
.DS_Store
