venv/
__pycache__/
*.pyc
*.db
*.db-journal
.env
.idea/
static/uploads/
static/docs/
static/avatars/
static/defects/
static/packages/
static/plans/
static/journal/
static/smeta/*
!static/smeta/.gitkeep
static/id_docs/
backups/
*.egg-info/
dist/
build/
.DS_Store
static/logos/
